$primaryText: #225A18;
$primaryTextLight: #6aa260;

.title {
  font-size: 50px;
  white-space: nowrap;
  @media (max-width: 999px) {
    font-size: 40px;
    // text-align: center;
  }
  @media (max-width: 500px) {
    font-size: 30px;
  }
}

.pageTitle {
  font-size: 60px;
  max-width: min-content;
  white-space: nowrap;
}

@media (max-width: 1399px) {
  .pageTitle {
    font-size: 50px;
  }
}

@media (max-width: 999px) {
  .pageTitle {
    font-size: 40px;
  }
}

.geoData {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .content {
    display: flex;
    align-items: center;
    gap: 100px;
    @media (max-width: 999px) {
      flex-direction: column;
      gap: 30px;
    }

    .left {
      iframe {
        width: 600px;
        height: 400px;
        max-width: 100%;
        @media (max-width: 999px) {
          
        }
      }
    }

    .right {
      display: flex;
      gap: 50px;
      flex-direction: column;
    }
  }
}
