$primaryText: #225A18;
$primaryTextLight: #7D9843;

.hero {
  display: grid;
  grid-template-columns: 5fr 8fr;
  grid-gap: 30px;
  align-items: center;
  
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryText;

    @media (max-width: 480px) {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      z-index: 1;
    }
    
    .leftContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding: 50px;
      .title {
        font-size: 60px;
        max-width: 500px;
      }
      
      @media (max-width: 1399px) {
        .title {
          font-size: 50px;
        }
      }
      
      @media (max-width: 999px) {
        max-width: 100%;
        padding: 30px;
        background-color: rgba(255, 248, 223, 0.87);
        width: 100vw;
        .title {
          font-size: 40px;
          text-align: left;
        }
      }

      .sideInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .sideInfoTitle {
          font-size: 30px;
          color: $primaryTextLight;
        }
        
        .sideInfoList {
          display: flex;
          flex-direction: column;
          gap: 20px;
          list-style: none;

          .docLink {
            display: flex;
            gap: 10px;
            cursor: pointer;
            position: relative;
            max-width: min-content;
            white-space: nowrap;
            color: $primaryText;
            &:hover {
              color: $primaryTextLight;
            }
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 3px;
              bottom: 0;
              top: 25px;
              left: 0;
              background-color: $primaryTextLight;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
            }
            
            &:hover::after {
              @media (min-width: 999px) {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }
        }
      }
    }
  }
  
  .right {
    width: 100%;
    overflow: hidden;
    height: auto;
    max-height: calc(100vh - 100px);
    opacity: 0;
    transition: opacity 0.8s ease;
    &.show {
      opacity: 1;
    }
    z-index: 0;
    @media (max-width: 999px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: block;
      max-height: calc(100vh - 80px);
      height: calc(100vh - 80px);
      width: auto;
    }
  }
}

.container {
  max-width: 1000px;
  display: flex;
  gap: 30px;
  font-size: 20px;

  @media (max-width: 999px) {
    flex-direction: column;
    font-size: 16px;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    
    img {
      max-width: 400px;
      @media (max-width: 480px) {
        max-width: 300px;
      }
      height: auto;
    }
  }
}

.text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .docLink {
    display: inline;
    gap: 10px;
    cursor: pointer;
    text-decoration: underline;
  }
}

.contacts {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .grid {
    display: flex;
    max-width: 1050px;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
}

.dark {
  background-color: #547929;
  color: #FFF8DF;
}

.title {
  font-size: 50px;
  @media (max-width: 999px) {
    font-size: 40px;
  }
  @media (max-width: 500px) {
    text-align: center;
    font-size: 30px;
  }
}

.cultures {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin: 20px 0cqmax;
    
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    .photoCard {
      display: flex;

      &.reverse {
        flex-direction: row-reverse;
      }

      @media (max-width: 500px) {
        flex-direction: column !important;
      }

      .photo {
        height: 250px;
        width: auto;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
      }

      .alt {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 20px;

        @media (max-width: 500px) {
          writing-mode: initial;
          transform: none;
        }
      }
    }
  }
}